VITE_SF_LOGIN_URL=https://login.salesforce.com
VITE_SF_CLIENT_ID=your_client_id_here
VITE_SF_CLIENT_SECRET=your_client_secret_here
VITE_SF_USERNAME=your_sf_username@domain.com
VITE_SF_PASSWORD=your_sf_password
VITE_SF_API_VERSION=v59.0
VITE_USE_MOCK_DATA=true
